[user]
	name = gozes
	email = 632922+gozes@users.noreply.github.com

[includeIf "gitdir:~/Code/Work/"]
	path = ~/Code/Work/.gitconfig

[includeIf "gitdir:~/Code/Debian/"]
	path = ~/Code/Debian/.gitconfig-debian
[init]
	defaultBranch = main
[core]
	editor = nvim
[push]
	autoSetupRemote = true
[commit]
	verbose = true
