layout {
	pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
        }
	pane
	floating_panes {
		pane {
		    height "95%"
		    width "95%"
		}
	}
	pane size=1 borderless=true {
        plugin location="zellij:status-bar"
    }


}
